/* Global Styles */

.container {
    margin: 2rem;
}

/* header */

header {
    background-color: rgb(130, 130, 240);
    border-bottom: solid 3px coral; 
}

/* quizDiv */

#quizDiv {
    margin: 4rem;
}

/* answerDiv */

#answerDiv {
    margin-top: 2rem;
}

ol {
    list-style: upper-alpha;
}

a:hover {
    background-color: rgb(100, 237, 173);
}